<section>
  <h2>Please enter your password to continue</h2>

  <input [(ngModel)]="enteredPassword" (input)="removeAuthFlag()" (focus)="removeAuthFlag()" type="password" (keyup.enter)="authSubmitHandler()" autofocus>
  <button (click)="authSubmitHandler()">
    <svg style="display: flex" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M24 12l-8.991 6.228v-2.722c2.54-1.757 5.053-3.506 5.053-3.506s-2.513-1.718-5.053-3.474v-2.722l8.991 6.196zm-6.96 0l-9.04-6.118v3.118h-8v6h8v3.118l9.04-6.118z"
        fill="#0c0d0e"/>
    </svg>
  </button>
  <p *ngIf="!authFlag" class="error-message">Your password is wrong, Try again!!!</p>
  <img *ngIf="spinnerAni" alt="" class="spinner" src="./motiHelpAssist/assets/spinner.gif" />

</section>
