<section>
  <div
    (click)="muteVoice()"
    class="mute_voice {{ !voiceMuted ? '' : 'muted' }}"
  >
    <i
      aria-hidden="true"
      class="{{ !voiceMuted ? 'fas fa-volume-up' : 'fas fa-volume-mute' }}"
    ></i>
  </div>
  <div class="chat-body" id="chat_body">
    <ul>
      <ng-container *ngFor="let message of messages">
        <div *ngIf="message.author === 'bot'" class="bot-img">
          <img alt="" class="bot-img" src="../../../redcarAssist/assets/bot.svg"/>
          <h5>Bot</h5>
        </div>
        <li class="{{ message.author === 'bot' ? 'bot-msg' : 'frm-msg' }}">
          <div class="content">
            <p
              *ngIf="message.author === 'user'"
              class="{{ message.author === 'user' ? 'msg' : '' }}"
            >
              {{ message.content }}
            </p>
            <div
              *ngIf="message.author === 'bot'"
              [innerHTML]="message.content | safeHtml"
            ></div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="chat-input">
    <textarea
      (keydown.enter)="sendMessageEnter($event)"
      [(ngModel)]="userEnterdText"
      placeholder="Ask anything"
    ></textarea>

    <div class="chat-actions">

      <i (click)="sendMessage()"
         [class.not_ready]="!userEnterdText"
         aria-hidden="true"
         class="fas fa-paper-plane send-btn"
      >
      </i>
      <i (click)="startVoiceRecognition()"
         *ngIf="voiceActiveSectionDisabled"
         aria-hidden="true"
         class="fas fa-microphone-slash"
         style="color: #b3b1b0;"
      >
      </i>
      <i (click)="closeVoiceRecognition()"
         *ngIf="!voiceActiveSectionDisabled"
         aria-hidden="true"
         class="fas fa-microphone {{voiceActiveSectionListening ? 'blob-yellow' : ''}}"
      >
        <div *ngIf="voiceActiveSectionListening" class="blob"></div>
      </i>

    </div>
  </div>
</section>

