<div class="container">

  <div (click)="openBot()" *ngIf="!botOpened" class="chat-bot-icon">
    <img alt="" src="../redcarAssist/assets/bot-icon1.svg"/>
  </div>

  <div *ngIf="botOpened"  class="chat-bot-content">
    <header>
      <div class="bot-name">
        <img alt="" src="../redcarAssist/assets/bot-logo1.svg"/>
        <h1>RedCarpet Assistant</h1>
      </div>
      <div class="bot-actions" >
        <i aria-hidden="true"
           class="fullscreen-icon fas {{fullscreen ? 'fa-compress-arrows-alt' : ''}}"
        ></i>

        <div (click)="closeBot()" class="bot-close">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
              fill="#5e6165"></path>
          </svg>
        </div>
      </div>
    </header>

    <app-chatbot-box class="chat-area"></app-chatbot-box>

    <footer>Powered By <span>CanString</span></footer>
  </div>

</div>
