$orange: #f38630;
$blue: #63b3c9;
//$pri-clr: linear-gradient(to top left,#fcae16,#eb6400);
$pri-clr: #ea4375;
$sec-clr: #b3b1b0;
$input_height: 60px;
$border: #eaeaea;
$chartborder: #dde6f3;
$font_color: #212529;
$bg: #f7a8c33d;
$bg-gradient: linear-gradient(90deg, #2283ae, #2aa89c);
$btn-gradient: linear-gradient(120deg, #d80758 15px, #d03d76 37%, #dd236bb8 99%);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
  color: $font_color;
  // background: #e0e0e0;
  font-family: "Karla", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/*text*/

h1 {
  font: 100 30px / 1.1 "Karla", sans-serif;
}

h2 {
  font: 100 21px / 1.6 "Karla", sans-serif;
}

h3 {
  font: 600 19px / 1.6 "Karla", sans-serif;
  letter-spacing: -0.03em;
}

h4 {
  font: 700 17px / 1.6 "Karla", sans-serif;
  letter-spacing: 0.55px;
}

h5 {
  font: 700 15px / 1.6 "Karla", sans-serif;
  letter-spacing: 0.55px;
}

h6 {
  font: 100 14px / 1.6 "Karla", sans-serif;
}

p,
label,
input,
textarea {
  font: 400 15px / 26px "Karla", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .chat-bot-icon {
    cursor: pointer;
    position: absolute;
    background: $pri-clr;
    border-radius: 50px;
    height: 68px;
    width: 68px;
    margin: 24px;
    z-index: 1000000;
    display: flex;
    align-content: center;
    justify-content: center;
    box-shadow: 3px 3px 11px 8px rgb(133 111 95 / 8%);
    bottom: 0;
    right: 0;

    img {
      width: 48px;
    }
  }
}

//.chat-bot-content {
//  width: 100%;
//  max-width: 440px;
//  height: 99%;
//  max-height: 700px;
//  position: absolute;
//  bottom: 2%;
//  right: 2%;
//  box-shadow: 0 4px 16px rgb(0 0 0 / 25%);
//  border-radius: 16px;
//  overflow: auto;
//}
.chat-bot-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
}

header {
  padding: 12px 2% 12px 24px;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-box-shadow: 0px 10px 20px 4px rgb(133 111 95 / 8%);
  box-shadow: 0px 10px 20px 4px rgb(133 111 95 / 8%);
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .bot-name {
    display: flex;

    img {
      width: 136px;
    }

    h1 {
      font-weight: 600;
      font-size: 18px;
      margin-left: 12px;
    }
  }

  .bot-actions {
    display: flex;
    align-content: center;
    align-items: center;

    .bot-close {
      height: 24px;
      width: 24px;
      cursor: pointer;
    }

    .fullscreen-icon {
      position: relative;
      right: 24px;
      color: $pri-clr;
      cursor: pointer;
    }
  }


}

footer {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 4px 0;
  border-top: solid 1px $border;
  background: #fff;
  font-size: 12px;

  span {
    font-size: 13px;
    color: $pri-clr;
    font-weight: 500;
  }
}

.chat-area {
  position: absolute;
  // height: calc(100% - 25px);
  height: 90%;
  width: 100%;
  margin: 67px 0 8px;
}

section {
  height: 100%;
  width: 100%;
  position: relative;
  background: $bg;

  .orange {
    color: $orange;
  }

  div.mute_voice {
    z-index: 100000;
    position: absolute;
    top: -58px;
    right: 100px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;

    i {
      color: $pri-clr;
      font-size: 18px;
      width: 50px;
      border-radius: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      // border: solid 1px #fff;
      cursor: pointer;
    }
  }

  div.mute_voice.muted {
    i {
      position: relative;
      color: $sec-clr;
      // border: solid 1px #ff6767;
      // color: #ffffff;
      // background: #ff6767;
      // &:after {
      //   position: absolute;
      //   content: " ";
      //   width: 45px;
      //   border: solid 1px #ff6767;
      //   top: 50%;
      //   transform: rotate(-45deg);
      // }
    }
  }

  .chat-body {
    height: calc(100% - #{$input_height} + 3px);
    width: calc(100% - 48px);
    overflow-y: auto;
    position: relative;
    padding: 0 24px;

    ul {
      margin: 0;
      padding: 24px 0;
      width: 100%;
      line-height: 1.6;

      .bot-img {
        display: flex;
        align-items: flex-end;
        margin-top: 12px;

        img {
          width: 36px;
        }

        h5 {
          padding-left: 8px;
          font-size: 12px;
          color: $pri-clr;
          font-weight: 700;
        }
      }

      h4 {
        margin: 0;
        padding: 8px 0;
      }

      h5 {
        color: #858585;
        font-weight: 300;
        font-style: italic;
        margin: 0;
      }

      h6 {
        margin: 0;
      }

      li {
        list-style: none;
        margin-top: 8px;
        width: 100%;
        display: flex;

        .content {
          max-width: 80%;

          .form-container {
            display: flex;

            .information {
              padding: 24px;
              background: #f9e8d7;
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              max-width: 228px;

              &:before, &:after {
                position: absolute;
                content: '"';
                font-size: 60px;
                color: $orange;
                top: 0;
              }

              &:after {
                content: '"';
                bottom: 0;
                right: 24px;
                top: initial;
                transform: rotate(180deg);
              }

              p {
                font: 300 19px/2.6 "Karla", sans-serif;
              }
            }


            .user-form {
              padding-left: 32px;

              .signup-google {
                .btn-google {
                  text-align: center !important;
                  border: solid 1px $border;
                  color: $font_color;
                  font: 600 14px/1.6 "Karla", sans-serif;
                  display: block;
                  padding: 16px;
                  cursor: pointer;

                  &:hover {
                    border-color: $pri-clr;
                    color: $pri-clr;
                  }

                  img {
                    max-width: 48px;
                  }
                }
              }


              .or-container {
                align-items: center;
                color: #ccc;
                display: flex;
                margin: 25px 0
              }

              .line-separator {
                background-color: #ccc;
                flex-grow: 5;
                height: 1px
              }

              .or-label {
                flex-grow: 1;
                margin: 0 15px;
                text-align: center
              }
            }
          }

          p {
            margin: 0;
            padding: 8px 0;
          }

          label {
            font-size: 13px;
            display: block;
            margin: 0;
            padding-right: 12px;
            letter-spacing: 0.55px;
            clear: both;
            line-height: 1.2;
          }

          input,
          select,
          textarea,
          select {
            display: block;
            width: 100%;
            max-width: 320px;
            height: 30px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s,
            -webkit-box-shadow ease-in-out 0.15s;
            -o-transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s,
            box-shadow ease-in-out 0.15s;

            &.btn {
              font-size: 15px;
              border: none;
              padding: 0;

              &:hover {
                color: #FFFFFF;
              }
            }
          }
        }

        .chart-area {
          width: 100%;
          display: inline-block;
          position: relative;

          img {
            width: 100%;
          }

          .chart-container {
            //display: none;
            position: relative;
            width: calc(90% - 60px);
            float: right;
            margin-right: 48px;

            .bar {
              height: 60px;
              background: rgb(76 151 255 / 50%);
              margin-bottom: 16px;
              display: flex;
              padding: 4px 0;
              justify-content: center;
              align-items: center;
              position: absolute;
              color: #1C232E;
              border-right: solid 1px #fff;
              font-weight: 700;
              border-left: solid 1px #fff;
              font-size: 13px;
              text-align: center;

              &:after {
                position: absolute;
                right: -0.5px;
                content: "";
                border-right: solid 2px $chartborder;
                height: 24px;
                bottom: -28px;
              }
            }

            .pay, .job-protection {
              padding: 24px 0;
              height: 60px;
              position: relative;

              &:before {
                position: absolute;
                font-weight: 500;
              }
            }

            .job-protection {
              .bar {
                background: rgb(14 186 225 / 50%);

                &:after {
                  top: -26px;
                }
              }
            }

            .weeks-data {
              height: 2px;
              margin: 60px 0;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;

              .heading {
                top: -9px;
                margin: 0;
              }

              &:before, &:after {
                position: absolute;
                content: "Start";
                top: -40px;
                left: -8px;
                font-weight: 600;
                font-size: 13px;
                color: #0DBD76;
              }

              &:after {
                content: 'Return to Work';
                left: initial;
                right: -8px;
                color: #FF5619;
              }

              .week {
                border: solid 1px $chartborder;
                display: flex;
                padding: 8px 0;
                justify-content: center;
                align-items: center;
                position: relative;
                font-size: 13px;
                font-weight: 500;

                &:before, &:after {
                  content: "";
                  left: -2px;
                  position: absolute;
                  background: #fff;
                  height: 24px;
                  width: 3px;
                }

                &:after {
                  right: -2px;
                  left: initial;

                }
              }

              .first-absence {
                position: absolute;
                font-weight: 600;
                font-size: 13px;
                color: #0DBD76;
                padding: 0;
                margin-left: -4px;
                border: 0;
                left: -6px;
              }

              .birth-week {
                position: absolute;
                font-weight: 600;
                font-size: 13px;
                color: #F2A818;
                top: -40px;
                padding: 0;
                margin-left: -4px;
                border: 0;
              }

              .return-to-work {
                position: absolute;
                font-weight: 600;
                font-size: 13px;
                color: #FF5619;
                padding: 0;
                margin-left: -4px;
                border: 0;
                right: -6px;

              }

              .birth-date, .first-absence, .return-to-work {
                top: 24px;
                margin-left: -26px;
              }

            }

            .heading {
              position: absolute;
              left: -124px;
              margin-top: 20px;
              text-align: right;
              font-weight: 700;
              font-size: 15px;
              width: 110px;
            }

          }

          .legends {
            margin: 24px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .item {
              width: 48%;
              background: #fff;
              box-shadow: 0 4px 12px 8px #c9d4e345;
              border-radius: 8px;
              overflow: hidden;

              h4 {
                padding: 12px 16px;
                background: rgb(76 151 255 / 50%);
              }

              .legend-content {
                padding: 0;
                overflow: hidden;
                width: initial;

                li {
                  margin: 0;
                  padding: 4px 16px;
                  box-sizing: border-box;

                  &:nth-child(even) {
                    background: rgb(240 245 251);
                  }

                  .weeks {
                    width: 25%;
                    font-weight: 700;
                  }

                  .details {
                    width: 70%;
                    margin-left: 8px;
                  }
                }

              }

              &.jobProtect {
                h4 {
                  background: rgb(14 186 225 / 50%);
                }

                li {
                  &:nth-child(even) {
                    background: rgb(234 245 247);
                  }
                }
              }

            }
          }

          .download-btn {
            display: flex;
            position: absolute;
            top: -48px;
            right: 0;
            border: solid 1px #c1cbd8;
            padding: 8px;
            border-radius: 60px;
            cursor: pointer;

            i {
              color: $pri-clr;
            }

            &:hover {
              border: solid 1px $pri-clr;
            }
          }

          .chart-action {
            border-top: solid 1px $border;
            padding: 24px 0 0;
            display: flex;
          }
        }


        &.frm-msg {
          text-align: right;
          justify-content: flex-end;

          p.msg {
            color: #fff;
            background: $btn-gradient;
            padding: 4px 16px;
            border-radius: 50px 0px 50px 50px;
          }
        }

        &.bot-msg {
          .content {
            background: #fff;
            padding: 16px 24px;
            border-radius: 0px 50px 50px 50px;
            box-shadow: 6px 6px 20px 4px rgb(201 177 159 / 14%);

          }
        }

        .checkbox_container {
          display: flex;

          input[type='checkbox'] {
            width: 16px;
            height: 16px;
          }

          label {
            max-width: 320px;
            line-height: inherit;
          }
        }

        .fileUpload {

          .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
          }

          .inputfile + label {
            font-size: 14px;
            padding: 8px 16px;
            color: white;
            background-color: $pri-clr;
            display: inline-block;
            border: solid 1px $pri-clr;
          }

          .inputfile:focus + label,
          .inputfile + label:hover {
            background: white;
            color: $pri-clr;
          }

          .inputfile + label {
            cursor: pointer; /* "hand" cursor */
          }

          .inputfile:focus + label {
            outline: 1px dotted #000;
            outline: -webkit-focus-ring-color auto 5px;
          }

          .inputfile + label * {
            pointer-events: none;
          }

          input {
            height: 22px;
          }

        }
      }
    }

    .btn, .submit-btn {
      padding: 6px 24px;
      font-weight: 100;
      font-size: 15px;
      border-radius: 100px;
      margin: 0px 8px 16px;
      top: 24px;
      cursor: pointer;
      letter-spacing: 0.55px;
      display: inline-block;
      color: $pri-clr;
      background: #fff;

      border: solid 1px $pri-clr;

      &.disable {
        opacity: .5;
        pointer-events: none;
        cursor: not-allowed;
      }

      &:disabled{
        opacity: .5;
        pointer-events: none;
        cursor: not-allowed;
      }

      &.sec-btn {
        background: $btn-gradient;
        color: #fff;

        &:hover {
          color: $pri-clr;
          background: #fff;
        }
      }

      &:hover {
        color: $pri-clr;
        background: #fff;
        background: $btn-gradient;;
        color: #fff;
      }
    }
  }

  .chat-input {
    height: $input_height;
    border-top: solid 1px $border;
    background: #fff;
    box-shadow: 0px -8px 48px 0 rgb(133 111 95 / 8%);
    // box-shadow: 0px -6px 20px 5px #b3aba43d;
    display: flex;
    align-items: center;

    textarea {
      border: none;
      width: 97%;
      height: 38px;
      resize: none;
      outline: none;
      box-sizing: border-box;
      color: $font_color;
      margin: 0 4px;
      padding: 4px 8px;

      &:focus {
        border-bottom: solid 1px $pri-clr;
      }
    }

    .chat-actions {
      display: flex;
      align-items: center;
      margin-right: 4px;

      .blob {
        // border-radius: 50%;
        // height: 60px;
        // width: 60px;
        // transform: scale(1);
        // animation: pulse-black 2s infinite;
        // background: #29a29e4f;
        // box-shadow: 0 0 0 0 rgba(111, 240, 210, 0.123);
        // animation: pulse-green 2s infinite;
        background: url("../src/assets/animation-1.gif");
        background-size: 220px;
        height: 120px;
        width: 120px;
        position: absolute;
        bottom: 5px;
        left: 27%;
      }

      i.send-btn {
        font-size: 24px;
        color: $pri-clr;

        &.not_ready {
          color: $sec-clr;
          cursor: not-allowed;
        }
      }

      i {
        font-size: 18px;
        color: $pri-clr;
        padding: 24px 16px;
        cursor: pointer;

        &.blob-yellow {
          // color: #00ff95;
          z-index: 10000;
        }
      }
    }
  }
}


.auth-panel {
  background: $pri-clr;

  .bot-close {
    position: absolute;
    top: 2%;
    right: 2%;
    height: 33px;
    width: 28px;
    cursor: pointer;
    z-index: 100000;
  }

  section, .modal-content {
    background: initial;
    padding: 300px 60px;
    box-sizing: border-box;
    max-width: 540px;
    margin: 0 auto;

    h2 {
      color: #fff;
      line-height: 1.8;
    }

    input {
      width: 100%;
      font-size: 36px;
      padding: 0px 16px;
      border: 0;
      outline: none;
      height: 38px;
      box-sizing: border-box;
      letter-spacing: 8px;
    }

    button {
      float: right;
      background: #FFD219;
      color: #001129;
      font-size: 18px;
      border: 0;
      border-radius: 50px;
      padding: 8px 32px;
      margin-top: 32px;
      cursor: pointer;
    }

    .error-message {
      color: #ff8b75;
      font-size: 16px;
      font-weight: 600;
    }

    .spinner {
      width: 160px;
      position: absolute;
      top: 50%;
      left: 31%;
    }
  }
}

.modal-overlay {
  display: block;
  position: fixed;
  z-index: 100000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(12 22 35 / 72%);

  .modal-content {
    background: #fff;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 24px 60px;
    box-sizing: border-box;
    border-radius: 24px;

    p {
      font-weight: 600;
      margin: 0 0 8px 0;
    }

    input {
      display: block;
      width: 100%;
      max-width: 320px;
      height: 30px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-left: 16px;
      margin-bottom: 24px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -webkit-transition: border-color ease-in-out 0.15s,
      -webkit-box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s,
      box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s,
      box-shadow ease-in-out 0.15s;
    }

    input[type='radio'] {
      border: none;
      display: inline-block;
      height: auto;
      width: 20px;
      margin-left: 16px;
    }


    .modal-footer {

      margin: 24px 0 0;
      display: flex;
      justify-content: flex-end;
      border-top: solid 1px $border;
      padding-top: 24px;


      .btn {
        padding: 6px 24px;
        font-weight: 100;
        font-size: 15px;
        border-radius: 100px;
        margin: 0px 8px 16px;
        top: 24px;
        cursor: pointer;
        letter-spacing: 0.55px;
        display: inline-block;
        color: $pri-clr;
        background: #fff;
        border: solid 1px $pri-clr;

        &.sec-btn {
          background: $pri-clr;
          color: #fff;

          &:hover {
            color: $pri-clr;
            border-color: $pri-clr;
            background: #fff;
          }
        }

        &:hover {
          background: $sec-clr;
          border-color: $sec-clr;
          color: #fff;
        }
      }

      .chart-action {
        display: block;
      }

    }
  }


}

@keyframes pulse-green {
  0% {
    transform: scale(0.01);
    background: #006aff34;
    box-shadow: 0 0 0 0 rgba(111, 124, 240, 0.123);
  }

  70% {
    transform: scale(1);
    background: #00ffb325;
    box-shadow: 0 0 0 10px rgba(58, 236, 58, 0.247);
  }

  100% {
    transform: scale(0.01);
    background: #006aff2c;
    box-shadow: 0 0 0 0 rgba(111, 124, 240, 0.123);
  }
}

section .hide-input input,
section .hide-input select {
  color: #fff;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//   background: $pri-clr;
// }


@media screen and (max-width: 996px) {
  section .chat-body ul li .chart-area .chart-container {
    width: 97%;
    margin: 0;

    .heading {
      left: initial;
      margin: 0;
      text-align: left;
      top: 0;
    }

    .weeks-data .heading {
      display: none;
    }


  }
}
